div.fumbnail {
  text-align: center;
}
div.gallery ul.thumbnails li div.fumbnail {
  position: relative;
  min-height: 24px;
}
div.gallery ul.thumbnails li div.fumbnail img {
}
div.gallery ul.thumbnails li div.fumbnail .caption {
  padding: 2.6%;
  width: 94.8%;

  position: absolute;
  bottom: 0;
  left: 0;

  max-height: 24px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  -ms-transition: all ease-out .2s;
  transition: all ease-out .2s;

  background: -moz-linear-gradient(top,  rgba(238,238,238,0) 0%, rgba(238,238,238,0.8) 10%, rgba(238,238,238,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,0)), color-stop(10%,rgba(238,238,238,0.8)), color-stop(100%,rgba(238,238,238,0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,0.8) 10%,rgba(238,238,238,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,0.8) 10%,rgba(238,238,238,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,0.8) 10%,rgba(238,238,238,0.8) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(238,238,238,0) 0%,rgba(238,238,238,0.8) 10%,rgba(238,238,238,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeeeee', endColorstr='#cceeeeee',GradientType=0 ); /* IE6-9 */
}
div.gallery ul.thumbnails li:hover div.fumbnail .caption {
  bottom: calc(-24px + (-2.6%) * 2);
}
